<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
                <title>Iran Newsflash Admin</title>
                <meta http-equiv="keywords" content="enter,your,keywords,here" />
                <meta http-equiv="description" content="A short description of this page." />
                <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
                <link rel="stylesheet" type="text/css" href="/media/css/reset.css">
                <link rel="stylesheet" type="text/css" href="/media/css/base.css">
                <link rel="stylesheet" type="text/css" href="/media/css/monitter.css">
                <link rel="stylesheet" type="text/css" href="/media/css/light.css">
                <!--[if lte IE 7]>  
                <style type="text/css" media="all">  
                        @import "/media/css/form-ie.css";  
                </style>
                <![endif]-->
</head>
</body> 

<div id="header"> 
  <h1>Iran Newsflash</h1> 

  <ul id="navigation"> 
    <li ><a href="/admin/feeds/">Newsfeeds</a></li>
  </ul>

  <div id="login"> 
  {% if user %} 
     Logged in as {{ user }}. <a href="{{ logouturl }}">logout</a>
  {% else %} 
     Not logged in. <a href="{{ loginurl }}">login</a> 
  {% endif %} 
  </div>

</div>
<div id="content">
{% block content %} 


{% endblock %} 
</div>
<script type="text/javascript" src="/media/js/jquery.min.js"></script>
{% block javascript %}
--
{% endblock  %}

</body>
</html>

